@import "tailwindcss" ;


h1{
    @apply  text-white font-serif text-5xl m-4
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    @apply 
    min-w-100
    min-h-100
    bg-gray-950 
    shadow-lg   
    border 
    rounded-md 
    m-10
    p-4 
    text-white 
    flex 
    flex-col 
    items-center
}

.input-field{
    @apply
    p-4
    w-60
    h-4
    border
    border-white
    rounded-md
    font-mono
}

.btn{
    @apply
      border border-gray-400 
      p-2
       rounded-md 
      font-serif
      text-sm
      m-3
      h-9
      hover:shadow-md hover:shadow-purple-600 
      active:scale-95 transition
      transition-colors duration-150
      active:bg-gray-700
       active:shadow-cyan-500
       transition-transform
}

.btn-state{
    @apply 
    text-sm
    font-serif
    m-3
    p-2
     border border-gray-400
     rounded-md
     hover:shadow-md hover:shadow-purple-600 
      active:shadow-cyan-500
      active:scale-95 
       transition-colors duration-75
       transition-shadow duration-75
      active:bg-gray-700
       active:shadow-cyan-500
       transition-transform
}

.todo{
    @apply
    flex
    justify-between
    w-full
    items-center
    border
    border-gray-300
    m-2
    p-1
    
}

.noTodo{
    @apply
    m-10
    w-50
    font-[Open_Sans]
    flex
    justify-center
    items-center
}

.todoText{
    @apply
    font-semibold
    m-2
}

